/*
 *
 * ======================
 * md[RED] Markdown Style
 * ======================
 *
 * Style Name: md[RED]
 * Document Title: md[RED].css
 * Document URI: http://github.com/jaggermeister/mdRED
 * Description: This is a CSS stylesheet for use with Markdown documents.
 *
 *              For more information on Markdown, please 
 *              see John Gruber's original specification:
 *              http://daringfireball.net/projects/markdown/
 *
 *
 * Author: W. Michael Jaggers
 * Author URI: http://michaeljaggers.com
 * Copyright: Copyright ©2013 W. Michael Jaggers
 * Version: 1.1
 * 
 * License: GNU General Public License v3.0 
 * License URI: http://opensource.org/licenses/GPL-3.0
 * 
 */



/*
===================================
---------- Global Styles ----------
=================================== 
*/

html { 
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 1.5em;
	padding: 1em;
	margin: auto;
	max-width: 42em;
	background: #FEFEFE;
}

p, blockquote, ul, ol, dl, li, table, pre {
	margin: 1em 0;
}

blockquote {
	color: #666;
	padding-left: 3em;
	border-left: 0.5em #EEE solid;
}

/* ==== Link Styles ==== */

a, a:visited {
	color: #A44441;
	background-color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}



/*
===================================
--------- Heading Styles ----------
=================================== 
*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1em;
}

h1 {
	color: #111;
	font-size: 2.2em;
}

h2 {
	border-bottom: 1px solid #CCC;
	color: #111;
	font-size: 1.5em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.9em;
}

h6 {
	color: #777;
	background-color: inherit;
	font-size: 0.9em;
}


/* ---- Horizontal Rule ---- */

hr {
	height: 0.2em;
	border: 0;
	color: #CCC;
	background-color: #CCC;
}



/*
===================================
----------  Code Styles  ----------
=================================== 
*/

code, pre {
	font-family: 'Bitstream Vera Sans Mono', 'Menlo Regular', 'Courier New', monospace;
	font-size: 0.9em;
	border-radius: 3px;
	background-color: #F8E6E7;
	color: #555;
}

code {
	border: 1px solid #CCC;
	margin: 0 2px;
	padding: 1px 5px;
}

pre {
	border: 1px solid #CCC;
	overflow: auto;
	padding: 4px 8px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

img { 
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}



/*
===================================
--------- Table Styles ------------
=================================== 
*/

table {
	border-collapse: collapse;
	margin: 20px 0 0;
	padding: 0;
}
table tr th, table tr td {
	border: 1px solid #CCC;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
table tbody tr:nth-child(2n-1) {
        background-color: #F8F8F8;
}



/*
===================================
------ Addtional Elements ---------
=================================== 
*/

b, strong { 
	font-weight: bold;
}

dfn { 
	font-style: italic;
}

mark { 
	background: #CC3333; 
	color: #111; 
	font-style: italic; 
	font-weight: bold;
}

img{
  max-width: 100%;
}

/*目录*/
.toc ul{
  list-style:none;
}
.toc ul .toc-level-2{
  padding-left:10px;
}
.toc ul .toc-level-3{
  padding-left:30px;
}
.toc ul .toc-level-4{
  padding-left:50px;
}
.toc ul .toc-level-5{
  padding-left:70px;
}
.toc ul .toc-level-6{
  padding-left:90px;
}

/*
===================================
------ Custom Highlighting --------
=================================== 
*/

::-moz-selection {
	background: rgba(255,153,153,0.3);
	color: #000;
}

::selection {
	background: rgba(255,153,153,0.3);
	color: #000;
}

a::-moz-selection {
	background: rgba(255,153,153,0.3);
	color: #993333
}

a::selection {
	background: rgba(255,153,153,0.3);
	color: #993333
}



/*
===================================
---------- Media Queries ----------
===================================
*/

/* ---- Bigger Than A Smartphone ---- */
@media only screen and (min-width: 480px) {
	body {
		font-size: 14px;
	}
}

/* ---- iPad (Portrait) And Larger ---- */
@media only screen and (min-width: 768px) {
	body {
		font-size: 16px;
	}
}






/*
===================================
---------- Print Styles  ----------
=================================== 
*/

@media print {
  	* { 
		background: transparent !important; 
		color: black !important; 
		filter:none !important; 
		-ms-filter: none !important; 
	}
	
  	body {
		font-size: 12pt; 
		max-width: 100%;
	}
	
  	a, a:visited {
		text-decoration: underline;
	}
	
  	hr {
		height: 1px;
		border: 0; 
		border-bottom: 1px solid black;
	}
	
  	a[href]:after {
		content: " (" attr(href) ")";
	}
	
  	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	
  	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
	
  	pre, blockquote {
		border: 1px solid #999; 
		padding-right: 1em;
		page-break-inside: avoid;
	}
	
  	tr, img {
		page-break-inside: avoid; 
	}
	
  	img { 
		max-width: 100% !important; 
	}
	
  	@page :left { 
		margin: 15mm 20mm 15mm 10mm;
	}
	
  	@page :right { 
		margin: 15mm 10mm 15mm 20mm;
	}
	
  	p, h2, h3 {
		orphans: 3; 
		widows: 3;
	}
  	h2, h3 {
		page-break-after: avoid;
	}
}