<div class="content studio-wrap">
  <form class="system-form" name="systemForm">
    <div class="form-group">
      <label>编辑器样式</label>
      <select name="theme" ng-model="systemSetting.theme"  ng-options="k as v for (k, v) in themes">
      </select>
    </div>
    <div class="form-group">
      <label>预览样式</label>
      <select name="preViewTheme" ng-model="systemSetting.preViewTheme"  ng-options="k as v for (k, v) in preViewThemes">
      </select>
    </div>
    <div class="form-group">
      <label>代码预览样式</label>
      <select name="preViewHighLightTheme" ng-model="systemSetting.preViewHighLightTheme"  ng-options="k as v for (k, v) in preViewHighLightThemes">
      </select>
    </div>
    <button type="submit" class="btn btn-default" ng-click="save(systemSetting)">保存</button>
  </form>
</div>