<div class="content studio-wrap">
  <textarea name="" cols="30" rows="10" hmd-editor></textarea>
  <div class="CodeMirrorBg"></div>
  <div class="preview-in hide" hmd-previewwindow>
  	<iframe id="preViewWindow" width="100%" height="100%" frameborder="0"></iframe>
  </div>
  <!--工具栏-->
</div>
<footer class="tool">
  <!--状态来消息-->
	<section class="msg" id="msg"></section>
	<section class="btn-group studio-btn-group">
		<a studio-newfile href="javascript://" class="btn btn-primary" style="border-radius:0;" title="新建文件"><i class="glyphicon glyphicon glyphicon-file"></i></a>
    <a studio-openfile href="javascript://" class="btn btn-primary" title="打开文件"><i class="glyphicon glyphicon-open-file"></i></a>
    <a studio-opendir href="javascript://" class="btn btn-primary" title="打开目录"><i class="glyphicon glyphicon-folder-open"></i></a>
    <a studio-preview href="javascript://" class="btn btn-primary" title="预览"><i class="glyphicon glyphicon-eye-open"></i></a>
    <a studio-export href="javascript://" class="btn btn-primary" title="导出为"><i class="glyphicon glyphicon-export"></i></a>
    <a studio-share href="javascript://" class="btn btn-primary" title="共享文件"><i class="glyphicon glyphicon-cloud"></i></a>
    <div class="btn-group" hmd-dropdownlist role="group">
      <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        编辑样式
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" studio-theme>
        <li ng-repeat="theme in themes | toArray"><a class="themeBtn" ng-class="{current:currpreTheme == theme}" href="javascript:;">{{theme}}</a></li>
      </ul>
  	</div>
    <div class="btn-group" hmd-dropdownlist role="group">
      <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        预览样式
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" studio-previewtheme>
        <li ng-repeat="preTheme in preViewThemes | toArray" ><a class="previewThemeBtn" ng-class="{current:currPreviewTheme == preTheme}" href="javascript:;" >{{preTheme}}</a></li>
      </ul>
  	</div>
    <div class="btn-group" hmd-dropdownlist role="group">
      <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        代码样式
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" studio-previewhighlighttheme>
        <li ng-repeat="prehighlightTheme in preViewHighLightThemes | toArray" ><a class="previewHighlightThemeBtn" ng-class="{current:currpreViewHighLightThemes == prehighlightTheme}" href="javascript:;" >{{prehighlightTheme}}</a></li>
      </ul>
  	</div>
    <a studio-save href="javascript://" class="btn btn-primary"  style="border-radius:0;"  ng-class="{'disabled':!editorChanged}" title="保存更改(Ctrl+S)"><i class="glyphicon glyphicon-floppy-disk"></i></a>
	</section>
</footer>