<div class="content studio-wrap">
  <textarea name="" cols="30" rows="10" hmd-editor></textarea>
  <!--工具栏-->
</div>
<footer class="tool">
  <!--状态来消息-->
	<section class="msg" id="msg"></section>
	<section class="btn-group studio-btn-group">
		<a studio-newfile href="javascript://" class="btn btn-primary" style="border-radius:0;" title="新建文件"><i class="glyphicon glyphicon glyphicon-file"></i></a>
    <a studio-openfile href="javascript://" class="btn btn-primary" title="打开文件" ng-click="openTerminal()"><i class="glyphicon glyphicon-folder-open"></i></a>
    <a studio-save href="javascript://" class="btn btn-primary"  ng-class="{'disabled':!editorChanged}" title="保存更改(Ctrl+S)" style="border-radius:0;"><i class="glyphicon glyphicon-floppy-disk"></i></a>
	</section>
</footer>